body{
	background-color: #E8E8E8;
	color: #393E41;
}

header{
	height: 150px;
	background-color: #7A1426;
	position: fixed;
	top: 0;
	width: 100%;
}

@font-face {
font-family: "savoye";
src: url("..//fonts/savoye.ttf");
}

@font-face{
	font-family: "futura";
	src: url("..//fonts/FuturaStd-Light.otf");
}
header h1{
	font-family: 'savoye', serif;
	color: #fff;
	text-align: center;
	font-size: 5rem;
	
}
header nav{
	font-family: 'futura', sans-serif;
}

.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #7A1426;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

/*section p{
	padding-top: 180px;
}*/

.shrink{
	height: 50px;
	font-size: 1rem;
	
	
}
.shrink2{
	font-size: 2rem;
	margin-bottom: 0;
	padding-top: 5px;
	
}

.about-1, .about-2, .about-3{
	padding: 200px 25px 25px 25px;
}
.about-4, .about-5, .about-6{
	padding: 25px 25px 50px 25px;
}

span{
	color: red;
}

.about-1 h3, .about-2 h3, .about-3 h3, .about-4 h3, .about-5 h3, .about-6 h3{
	text-align: center;
	font-family: 'futura', sans-serif;
	
}