header{
	height: 150px;
	background-color: #7A1426;
}

@font-face {
font-family: "savoye";
src: url("..//fonts/savoye.ttf");
}
header h1{
	font-family: 'savoye', serif;
	color: #fff;
	text-align: center;
	font-size: 5rem;
	
}
header nav{
	
}

.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: #7A1426;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

